section {
  background-color: #f9f9f9 !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  margin: 0 !important;
}


.row {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


.container,
.container-fluid {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 10px !important;
}

.navbar {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.nav-link {
  margin-right: 30px;
  color: #424040 !important;
  font-weight: 500;

}

.mobile-menu-btn {
  border: none;
  background: transparent;

}

.mobile-nav li {
  border-bottom: 1px solid #2966e0;
}

.mobile-nav a {
  display: block;
  padding: 14px 18px;
  font-size: 20px;
  color: #1f2937;
  font-weight: 500;
  text-decoration: none;
}

.mobile-nav a:hover {
  background: #0e4ecf;
}


.offcanvas {
  width: 300px;
}




.design-title {
  font-size: 60px;
  font-weight: 600;
  color: #2d3440;
}


.design-subtitle {
  font-size: 25px;
  font-weight: 400;
  color: #6c757d;
  margin-top: 10px;
}


.image-title {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #2d3440;
}


.image-box {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.6s ease;
}


.image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s ease;
}

.image-overlay i {
  color: #fff;
  font-size: 22px;
  background: rgba(255,255,255,0.2);
  padding: 14px;
  border-radius: 50%;
}

.image-box:hover .image-overlay {
  opacity: 1;
}


.custom-pagination .page-link {
  border: none;
  color: #555;
  font-size: 22px;
  font-weight: 700;
  margin: 0 6px;
  margin-top: 20px;
  border-radius: 6px;
}

.custom-pagination .page-item.active .page-link {
  background-color: #1e73e8;
  color: #fff;
}

.custom-pagination .page-link:hover {
  background-color: #e9f2ff;
}




/* TESTIMONIAL HEADING */
.testimonial-heading {
  background-color: #ffffff;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  color: #1f2937;
  line-height: 1.3;
}

.section-subtitle {
  font-size: 25px;
  color: #6b7280;
  max-width: 600px;
  margin: 0 auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}


/* TESTIMONIAL SECTION */
.testimonial-section {
  background-color: #ffffff;
}

/* CARD */
.testimonial-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
  position: relative;
  height: 100%;
  width: 100%;
}

/* QUOTE ICON */
.quote-mark {
  font-size: 80px;
  color: #e5e7eb;
  position: absolute;
  top: 20px;
  left: 25px;
  line-height: 1;
}

/* TEXT */
.testimonial-text {
  font-size: 18px;
  font-weight: 500 !important;
  color: #6f7174;
  line-height: 1.7;
  margin-top: 20px;
}

/* USER INFO */
.testimonial-user img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-user h6 {
  margin: 0;
  font-weight: 600;
  color: #111827;
}

.testimonial-user small {
  color: #6b7280;
}

.box{
    font-size: 22px;
        font-weight: 500;
}
.ms-3{
    font-size: 22px;
    font-weight: 500;
}


.ratings-section {
  background-color: #ffffff;
}

/* TITLE */
.ratings-title {
  font-size: 22px;
  color: #6b7280;
}

/* CARD */
.rating-card {
  background: #ffffff;
  padding: 16px 20px;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

/* LOGO */
.rating-logo {
  height: 35px;
}

/* STARS */
.rating-stars {
  color: #fbbf24;
  font-size: 16px;
}

/* SCORE */
.rating-score {
  font-weight: 600;
  color: #374151;
}
.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 40px;
}


.cta-section {
  background: url("../images/bg-05.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 20px;
  border-radius: 20px;
  min-height: 420px;
}

/* Heading */
.cta-title {
  font-size: 55px;
  font-weight: 700;
}

/* Subtitle */
.cta-subtitle {
  font-size: 22px;
  opacity: 0.9;
}

.btns {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: white;
  padding: 15px 15px !important;
  background-color: #2f80ed;
  border: none;
}

.btns:hover {
  background-color: #3d05a4;
}


/* Bottom Text */
.cta-note {
  margin-top: 20px !important;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.85;
}


.footer-section {
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
}

.footer-logo img {
  height: 43px;
}

.footer-logo h4 {
  font-weight: 700;
  color: #1f2937;
}

.footer-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1f2937;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
}

.footer-list a {
  text-decoration: none;
  color: #6b7280;
  font-size: 22px;
}

.footer-list a:hover {
  color: #2563eb;
}

.footer-email {
  font-size: 22px;
  color: #6b7280;
  margin-bottom: 15px;
}

.footer-social a {
  font-size: 26px;
  color: #6b7280;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #2563eb;
}



.footer-bottom {
  padding: 30px 0;
  background-color: #ffffff;
}




.footer-text {
  font-size: 20px;
  color: #6c757d;
}


.heart {
  color: #ff4d6d;
}


.footer-link {
  color: #6c757d;
  text-decoration: none;
  font-weight: 500;
}

.footer-link:hover {
  color: #ff4d6d;
}
