.forgot-section{
min-height:100vh;
background:#f5f6f8;
}

.logo{
height:40px;
}

.forgot-card{
max-width:420px;
background:white;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.fw-bold{
    font-size: 30px;
}

.form-control{
height:50px;
background:#f3f3f3 !important;

border:none;
}

.btn-primary{
background:#2f7df6;
border:none;
padding:12px;
font-weight:600;
}

.back-link{
color:#6c757d;
text-decoration:underline;
font-size:14px;
}